---

- name: Check if fish is already in /etc/shells
  command: cat /etc/shells | grep -Fcx /usr/local/bin/fish
  register: fish_in_etc_shells
  ignore_errors: true

- name: Add fish to /etc/shells
  command: echo "/usr/local/bin/fish" | sudo tee -a /etc/shells
  when: fish_in_etc_shells.stdout == 0

- name: Check if current shell is fish
  command: '[ "$SHELL" == "/usr/local/bin/fish" ] && echo 1 || echo 0'
  register: fish_is_current_shell

- name: Install fish as current shell
  command: chsh -s /usr/local/bin/fish
  when: fish_is_current_shell.stdout == 1

- name: Check if fisher package manager is installed
  command: command -v fisher >/dev/null 2>&1
  register: fisher_installed
  ignore_errors: true

- name: Install fisher package manager
  command: url -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source && fisher install jorgebucaran/fisher
  when: fisher_installed.rc == 1

- name: List fisher extensions
  command: fisher list
  register: fisher_extensions_installed
  when: fisher_installed.rc == 0

- name: Update installed fisher extensions
  command: fisher update {{ item.name | default(item) }}
  when:
    - fisher_installed.rc == 0
    - item in fisher_extensions
  loop: "{{ fisher_extensions_installed.stdout_lines }}"

- name: Install missing fisher extensions
  command: fisher install {{ item.name | default(item) }}
  when:
    - fisher_installed.rc == 0
    - item not in fisher_extensions_installed.stdout_lines
  loop: "{{ fisher_extensions }}"

- name: Uninstall not listed fisher extensions
  command: "fisher remove {{ item.name | default(item) }}"
  when:
    - fisher_installed.rc == 0
    - item not in fisher_extensions
  loop: "{{ fisher_extensions_installed.stdout_lines }}"
